/**
 * Global Admin Header Styles
 *
 * @package Tmpltr
 */

.tmpltr-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #dcdcde;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tmpltr-header__left {
    display: flex;
    align-items: center;
}

.tmpltr-header__right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tmpltr-header__logo {
    height: 32px;
    width: auto;
}
